html, body, main, section {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.parallax {
  background: url("../assets/img/banner-what-we-do.png") no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (max-device-width: 1024px) {
  .parallax {
    background-attachment: scroll;
    background-position: top center;
    background-size: contain;
  }
}

.parallax-title {
  font-family: 'Anton', sans-serif;
  font-size: 10em;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  line-height: 1.6em;
}

.parallax-title-animated::before {
  content: "";
  height: 55.8%;
  width: 0;
  position: absolute;
  top: 21.8%;
  display: inline-block;
  background: #7e6851;
  z-index: -1;
  animation: title-animated 2s forwards;
}

@keyframes title-animated {
  to {width: calc((158px * 4.72)) }
}

#block {
  background: #1e1e1e;
}